/* Animation keyframes - you need to add prefixes */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  height: 220px;
}

/* Loading animation container */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
}

/* Spinning circle mask */
.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
.loading .spinner {
  position: absolute;

  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  animation: spin 1s infinite linear;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
}

.game-box {
  text-decoration: none;
  box-shadow: -1px 2px 10px -13px -13px rgba(2, 2, 2, 0.75);
  margin: 10px;
  width: 500px;
  height: 220px;
}

.game-inhold {
  text-decoration: none !important;

  color: rgb(0, 0, 0);

  width: 100%;
  border: 0;
  object-fit: cover;
  text-align: center;
  font-size: 1.1rem;
  margin-right: 10px;
  margin-top: 10px;
}
.game-box:hover {
  transform: scale(1.03);
  transition: all linear 200ms;
  box-shadow: 1px 100px 50px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .game-box {
    width: 500px;
    height: 220px;
    position: center;
  }
}

.game-details {
  margin: auto;
  width: 50rem;
  padding: 10px;
}
@media only screen and (max-width: 760px) {
  .game-details {
    width: 100%;
    height: auto;
  }
}

/* Login */
.gradient-custom {
  background: #508bfc;
}


.logo{
  margin-right: 0.5%;
  margin-left: 8%;
}

@media only screen and (max-width: 1060px) {
  .logo {
    width: auto;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    left: 0%;
  }
}
.login{
  margin-left: 8px;
}
.select{
  width: 80px;
  color: #2f3131;
}

.bg{
  background-color: #CFD8DC;
}
body{
  background-color: #CFD8DC !important; 
}
a{
  text-decoration: none !important;

  color: rgb(0, 0, 0);

}
